/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
The imported CSS rules must precede all other types of rules.
*/
/*@import '~@nativescript/theme/css/core.css';*/
/*@import '~@nativescript/theme/css/default.css';*/
/*@import '~@nativescript/theme/css/aqua.compat.css';*/
/*@import './font-awesome.css';*/

/*
.font1 {
  font-family: 'Architects Daughter', "ArchitectsDaughter-Regular", cursive;
  font-weight: 400;
  font-size: 22;
}


.font2 {
  font-family: 'KoHo', "KoHo-Regular", sans-serif;
  font-weight: 400;
  font-size: 21;
}

.font2b {
  font-family: 'KoHo', "KoHo-SemiBold", sans-serif;
  font-weight: 600;
  font-size: 21;
}

.font3 {
  font-family: 'Newsreader', "Newsreader-Regular", serif;
  font-weight: 400;
  font-size: 20;
}

.font3b {
  font-family: 'Newsreader', "Newsreader-SemiBold", serif;
  font-weight: 600;
  font-size: 20;
}
*/
